<%# <h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p> %>

<%# navbar is a bootstrap class %>
<%# <div class="navbar">
  <%= image_tag 'logo.png' %>
<%#
  <div>
    <%= link_to 'Home' %>
    <%# <%= link_to 'New category'%>
     <%# </div>
</div> %>

<%# inline css ==> use style = "" %>
<%# image_tag create an img el
and image_path with the path of the img %>
<div class="banner" style = "background-image: url('<%= image_path "table3.jpg" %>')">
  <div>
    <h1>Cookbook</h1>
    <h3>Save your favorites recipes</h3>
  </div>
</div>

<div class="container w-75">
  <div class="info-top">
     <h2>List of Categories</h2>
     <%= link_to "New Category", new_category_path, class: "btn btn-warning" %>
  </div>

  <div class="cards">
    <% @categories.each do |category| %>

      <%= link_to category_path(category) do%>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <div style= "text-align: center">
            <h3><%= category.name %></h3>
            <p><%= category.bookmarks.count %> recipes</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%# <h1>Food Categories:</h1> %>
<%# <ul>
  <% @categories.each do |item| %>
    <%# <li><%= link_to item.name, category_path(item) %>
  <%# <% end %>
<%# </ul> %>
